// -----------------------------------------------------------------------------
// This file contains all styles related to the button filter component.
// -----------------------------------------------------------------------------

// Mobile 480-768//
.btn-filter {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: $text-color;
    background-color: $btn-filter-bg-color;
    border: 0px;
    border-radius: 4px;
    padding: 6px 0;
    cursor: pointer;
    transition: background-color $transition, color $transition, box-shadow $transition;

    &:hover,
    &:active,
    &:focus {
        background-color: $brand-color;
        color: $btn-filter-text-color-hover;
        box-shadow: $button-filter-shadow;
    }
}
@media screen and (max-width: $desktop) {
    .btn-filter {
        &--small {
            min-width: 103px;
        }
    
        &--medium {
            min-width: 130px;
        }
    
        &--large {
            min-width: 145px;
        }
    }
}
// Tablet 768-1200//

// Desktop 1200+//
@media screen and (min-width: $desktop) {
    .btn-filter {    
        padding: 6px 22px;            
    }
}