// -----------------------------------------------------------------------------
// This file contains all styles related to the h2 heading component.
// -----------------------------------------------------------------------------

// Mobile 480-768//
.h2-heading {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: $text-color;

    &--margin-bottom {
        margin-bottom: 30px;
    }
}

// Tablet 768-1200//


// Desktop 1200+//
@media screen and (min-width: $desktop) {
    .h2-heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
        color: $text-color;

        &--margin-bottom {
            margin-bottom: 50px;
        }
    }
}