// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation component.
// -----------------------------------------------------------------------------

// Mobile 480-768//
.nav {
    display: none;
}

// Tablet 768-1200//
@media screen and (min-width: $tablet) {
    .nav {
        display: flex;
        align-items: center;
        list-style: none;

        &__container {
            flex-grow: 2;
        }

        &__item {    
                position: relative;
                display: flex;

            &--space-between:not(:first-child) {
                margin-left: 60px;
            }
        }

        &__link {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            font-style: normal;
            text-transform: capitalize;
            color: $text-color;
            min-height: 80px;
            transition: color $transition;

            &::after {
                content: ' ';
                display: block;
                background-color: rgba(255, 255, 255, 0);
                transition: background-color $transition;
            }

            &:hover::after,
            &:active::after,
            &:focus::after {
                content: ' ';
                position: absolute;
                bottom: -1px;
                left: 0px;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color: $brand-color;
            }

            &:hover,
            &:active,
            &:focus {
                color: $brand-color;
            }
        }

        &__link--current-page {
            color: $brand-color;

            &::after {
                content: ' ';
                position: absolute;
                bottom: -1px;
                left: 0px;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color: $brand-color;    
            }
        }
    }
}

// Desktop 1200+//
@media screen and (min-width: $desktop) {
    .nav {
        flex-wrap: wrap;
        
        &__item {

            &--space-between:not(:first-child) {
                margin-left: 46px;
            }
        }
    }
}
