// -----------------------------------------------------------------------------
// This file contains all styles related to the grid component.
// -----------------------------------------------------------------------------

// Mobile 480-768//
.portfolio {
    list-style-type: none;
    margin-bottom: -30px;

    &__item {        
        margin-bottom: 30px;
    }
}

// Tablet 768-1200//
@media screen and (min-width: $tablet) {
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;

        &__item {
            flex-basis: #{calc((100% / 2) - 30px)};
            margin-left: 30px;
        }
    }
}

// Desktop 1200+//
@media screen and (min-width: $desktop) {
    .portfolio {

        &__item {
            flex-basis: #{calc((100% / 3) - 30px)};
        }
    }
}