// -----------------------------------------------------------------------------
// This file contains all styles related to the product component.
// -----------------------------------------------------------------------------

// Mobile 480-768//
.product {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: $product-bg-color;
    transition: box-shadow $transition;

    &:hover,
    &:focus {
        box-shadow: $product-shadow;
    }

    &__thumb {
        position: relative;
        overflow: hidden;
    }

    &__image {
        display: block;
        min-width: 100%;
    }

    &__description {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        padding: 0 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: $product-description-color;
        background-color: $product-description-bg-color;
        transform: translatey(100%);
        transition: transform $transition;
    }
        
    &:hover &__description,
    &:active &__description,
    &:focus &__description {
    transform: translatey(0);
    }

    &__details {
        flex-grow: 1;
        padding: 20px 24px 20px 24px;
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
    }

    &__heading {
        font-family: 'roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $text-color;

        &--margin-bottom {
            margin-bottom: 4px;
        }
    }

    &__text {
        font-family: 'roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: $secondary-text-color;
    }
}

// Tablet 768-1200//

// Desktop 1200+//
